*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


ul li a{
    text-decoration: none;
}

div img{
    display: block;
    width: 100%;
}
.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
    padding: 10px 15px;
}

header{
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
}

header .list-items{
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
}

.list-items li a{
    color: white;
}

header .menu{
    justify-content: space-between;
}

.apresentacao{
    height: 80vh;
    align-items: center;
    justify-content: space-between;

}

.apresentacao .texto-apresentacao{
    min-width: 200px;
    width: 25%;

}

.apresentacao .texto-apresentacao h1{
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
    

}

.btn{
    background-color: #122A57;
    color: white;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    
}


#quem-somos{
    flex-direction: row-reverse;
    align-items: center;

    justify-content: space-between;
    
    
}

#quem-somos h2{
    font-size: 32px;
    color: #122A57;
    display: flex;
    
}

#quem-somos h2::before{
    content: " ";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122A57;
    position: relative;
}

#quem-somos p{
    margin-top: 23px;
    text-align: justify;
}

#quem-somos img{
    min-width: 520px;
}

.container-externo{
    background-color: #122A57;
    width: 100%;
}

#servicos{
    flex-direction: column;
    padding: 80px 0;
}

#servicos h2{
    color: white;
    font-size: 32px;
    margin-bottom: 40px;
}

.list-servicos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list-servicos .item-servico{
    text-align: center;
}

.item-servico a{
    width: 220px;
    background-color: white;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding: 15px 15px;
    text-decoration: none;
    color: #122A57;
    font-size: 12px;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.item-servico a:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;

}


.item-servico p{
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin: 15px 0 10px;
}
.item-servico .pacote{
    margin: 7px 0 10px;
    
}

.item-servico img{
    width: 80%;
    margin: auto;
}

#planos{
    padding: 80px 0;
    flex-direction: column;
    min-height: 100vh;

}

#planos h2{
    color: #122A57;
    font-size: 32px;
    margin-bottom: 40px;
}

.list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

.item-plano{
    flex: 1;
    border: 5px solid #122A57;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
    
    
}

.item-plano .btn{
    margin: auto;
    margin-bottom: 20px;
}


.item-plano h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

.item-plano h3::after{
    content: "";
    background-color: #122A57;
    height: 3px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.item-plano ul{
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    margin-bottom: 10px;
}

.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122A57;
    margin-right: 5px;

}

footer{
    background-color: #122A57;
    height: 70px;
    display: flex;
    align-items: center;

}

footer .footer{
    justify-content: space-around;
    color: white;
}

/* Responsividade */

@media(max-width: 992px){
    .flex-container{
        flex-direction: column;
        width: auto;
    }

    .apresentacao{
        flex-direction: column;
        height: 600px;
        
    }

    .apresentacao p{
        font-size: 20px;
        
    }

    .apresentacao .texto-apresentacao{
        width: 100%;
        margin: auto;
        align-items: center;
    }

    .apresentacao img{
        margin: auto;
    }

    #quem-somos{
        flex-direction: column;
        margin: 200px 0;
        
    }
    #quem-somos p{
        font-size: 20px;
        margin: 30px 0;
        
    
    }

    #quem-somos img{
        min-width: 320px;
        margin: auto;
        margin-top: 20px;
    }

    .list-servicos{
        flex-direction: column;
        
    }

    .item-servico img{
        width: 50%;
        margin: auto;
        
    }

    .item-servico{

        margin: 25px 0;
    }

    .list-planos{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;

    }

    .list-planos .item-plano{
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
        font-size: 20px;
    }
}